# See https://github.com/direnv/direnv/issues/420#issuecomment-515696588 to get this working.
# TLDR: You have to add a use_sdk() function to your ~/.direnvrc file.
use sdk java 15.0.1.hs-adpt maven 3.6.3 scala 2.12.12 sbt 1.4.4
